# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/doc/
/cropped_box.png
/calendar.ics
/detected_boxes.png
/horizontal_lines.jpg
/Image_bin.jpg
/img_final_bin.jpg
/output.png
/schedule_with_boxes.pdf
/vertical_lines.jpg
/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
/CHROME_EX/
/FIREFOX_EX/
